<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Love Quotes</title>


    <!--Bootstrap core CSS--->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css')}}">
  </head>
  <body>
    <nav style="margin-top:25px; margin-left:45px">
      <a class="btn btn-primary" href="{{url_for('quotes')}}">Add a quotes</a>
    </nav>
    <br>
    <div class="container theme-showcase" role="main">


        <div style="color:#fff; background-color:orange", class="jumbotron">
          <h1>Love quotes</h1>
        </div>

        <!--For loop starts-->
        {% for res in result %}
        <div style="color:#fff;background-color:blue">
          <h1>{{ res.author }}</h1>

        </div>
        <div style="color:#fff; font-size:28px;background-color:green">
          <p>"{{ res.quote }}"</p>
        </div>
        {% endfor %}
        <!--For loop ends here-->
      </div><!--Container ends-->
  </body>
</html>
